
    .App {
        border: 1px solid black;
        width: 70%;
        height: 80vh;
        border-radius: 2%;
        margin: 2% 20%;
        position: absolute;
        padding-bottom: 5%;
        background: #41e4ff;

    }

.block-1 {
    float: left;
    margin: 4%;
    position: relative;
    font-size: small;
    padding-left: 3%;




}
.block-2 {
    float: left;
    margin: 4%;
    position: relative;
    font-size: small;

}
.prokrutka {
    height: 150px;
    width: 100%;
    background: green;
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: scroll;
    border-radius: 2%;
    color: #fffc83;
}
.weather-today {
    border:  1px solid black;
    border-radius: 2%;
    background: green;
    color: #fffc83;
}
h3 {
    text-align: center;
}
button {
    background-color: #4CAF50;
    text-decoration: none;
    color: white;
}




